<h1><ins>Learn More About Shoe Central<ins></h1>
<a href="/shoes">Back to the Home page</a>
<div>

<div>

<html>
    <head>
        <meta charset="UTF-8"/>

        <link href='https://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container">

            <div class="info-card-container">

                <div class="info-card">

                    <div class="info-card__image-exposure info-card__content">
                        <div class="info-card__image-exposure--blend">
                        </div>
                        <div class="info-card__image-exposure__item">
                        </div>

                    </div>

                    <div class="info-card__bio info-card__content">
                        <h2 class="info-card__bio--title">The Shoe Store</h2>

                        <p class="info-card__bio--copy">Shoe Central is a leading global athletic footwear and apparel retailer, which caters to the sneaker enthusiast - If it’s at Shoe Central, it’s Approved. Its stores offer the latest in athletically-inspired footwear and apparel, manufactured primarily by the leading athletic brands. Shoe Central provides the best selection of premium products for a wide variety of activities, including basketball, running, and training. Additionally, we operate 178 House of Hoops, primarily a shop-in-shop concept, which sells premier basketball-inspired footwear and apparel. Shoe Central’s 1,835 stores are located in 23 countries including 1,015 in the United States, Puerto Rico, U.S. Virgin Islands, and Guam, 126 in Canada, 603 in Europe, and a combined 91 in Australia and New Zealand.</p>


                    </div>

                    <a href="/"><span class="close"></span></a>
                </div>
            </div>

        </div>

    </body>
</html>
